@charset "UTF-8";
@import url();
/**************** VARIABLES ****************/
/* couleurs*/
/*ombres*/
/*font-family*/
/**************** MIXINS ****************/
/**************** SCSS ****************/
/* remise à 0 styles par défaut pour tous les éléments + border-box inclu padding et border dans la largeur/hauteur.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-width: 375px;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #353535;
}

/************ header (mobile) *********/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .go-back {
  display: inline-block;
  position: absolute;
  left: 0;
}
header .go-back.home {
  /* ajout de la class home sur la page d'accueil uniquement, pour annuler l'affichage*/
  display: none;
}
header .logo {
  width: 162px;
}

/************ section recherches ***********/
.search-section {
  width: 100%;
  text-align: center;
  background: #f6f6f6;
}
.search-section .location {
  padding: 15px 0;
  background: #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.search-section .location i {
  color: #353535;
}
.search-section .location input {
  width: 130px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.search-section .location ::-moz-placeholder {
  /* annule style par défaut sur firefox et chrome*/
  opacity: 1;
  color: black;
}
.search-section .location ::placeholder {
  /* annule style par défaut sur firefox et chrome*/
  opacity: 1;
  color: black;
}
.search-section .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 50px 30px;
  gap: 15px;
}
.search-section .hero h1 {
  margin: 0 20px;
}
.search-section .hero p {
  font-size: 18px;
  font-weight: 300;
  color: #7e7e7e;
  margin-bottom: 15px;
}
.search-section .hero .button {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-image 0.9s linear, box-shadow 0.5s ease; /*fonctionne aller et retour*/
}
.search-section .hero .button:hover {
  background-image: linear-gradient(to top, #af79e2, #fe9fdf);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/************ section fonctionnement  ********/
.section-fonctionnement {
  width: 100%;
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 500;
  gap: 30px;
}
.section-fonctionnement .zone-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.section-fonctionnement .zone-frame .frame {
  width: 97%;
  max-width: 322px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 26px 0 26px 1.8em;
  margin-left: 10px;
  position: relative;
  display: flex;
  gap: 1em;
}
.section-fonctionnement .zone-frame .frame .frame-number {
  background-color: #9356dc;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  padding: 8px;
  height: 24px;
  display: flex;
  align-items: center;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translate(0, -50%);
}
.section-fonctionnement .zone-frame .frame .i-grey {
  color: #7e7e7e;
}
.section-fonctionnement .zone-frame .frame .i-purple {
  color: #9356dc;
}

/************ section restaurants *********/
.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f6f6f6;
  padding: 50px 20px 50px 20px;
  align-items: flex-start;
}
.restaurants .zone-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .zone-card .restaurant-card {
  position: relative;
  width: 340px;
  height: 251px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.restaurants .zone-card .restaurant-card .restaurant-image {
  position: relative;
}
.restaurants .zone-card .restaurant-card .restaurant-image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover; /* Empêche la déformation de l'image */
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurants .zone-card .restaurant-card .new-badge {
  display: none;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  text-align: center;
  padding-top: 6px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: 12px;
  right: 12px;
}
.restaurants .zone-card .restaurant-card .restaurant-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}
.restaurants .zone-card .restaurant-card .restaurant-info p {
  font-size: 17px;
  font-weight: 300;
  color: black;
}
.restaurants .zone-card .restaurant-card .heart-checkbox {
  display: none;
}
.restaurants .zone-card .restaurant-card .heart {
  position: absolute;
  right: 15px;
  top: 200px;
  cursor: url("../images/Icons/Heart-empty.png"), auto;
  width: 24px;
  height: 24px;
  background-image: url("../images/Icons/Heart-empty.png");
  background-repeat: no-repeat;
}
.restaurants .zone-card .restaurant-card .heart-checkbox:checked + .heart {
  background-image: url("../images/Icons/Heart-full.png");
  background-repeat: no-repeat;
}
.restaurants .zone-card .new .new-badge {
  display: block;
}

/************ footer  ********/
footer {
  background-color: #353535;
  padding: 32px;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
  font-size: 14px;
}
footer ul li:nth-child(-n+2) {
  font-weight: 500;
}
footer ul li:nth-child(n+3) {
  font-weight: 300;
}
footer a,
footer i,
footer .footer-logo {
  color: white;
}
footer .footer-logo {
  font: italic 400 16px "shrikhand", cursive;
}
footer .footer-icon {
  display: inline-block;
  width: 30px;
  text-align: left;
}

/**************** MEDIA QUERIES ****************/
@media (min-width: 768px) {
  .section-fonctionnement .zone-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
  }
  .restaurants .zone-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2em;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .restaurants .zone-card .restaurant-card {
    width: 46%;
    height: 251px;
    max-width: 490px;
  }
  footer {
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  footer ul li:nth-child(2) {
    margin-right: 2em; /* Espacement après le deuxième élément*/
  }
  footer ul li:nth-child(4) {
    margin-right: 3em; /* Espacement après le quatrième élément*/
  }
} /*fin média query*//*# sourceMappingURL=home.css.map */