@import "variables-mixins.scss";

/**************** SCSS ****************/

/* remise à 0 styles par défaut pour tous les éléments + border-box inclu padding et border dans la largeur/hauteur.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-width: 375px;
  font-family: $font-1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  font-family: $font-2;
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
}
h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}


/************ header (mobile) *********/

header {
  @include header-mixin;
}
/************  hero image   *********/
.menu-img {
  width: 100%;
  height: 275px;
  object-fit: cover; /* Empêche la déformation de l'image */
}

.restaurant-choisi {
  width: 90%;
  min-width: 375px;
  max-width: 1055px;
  position: absolute;
  top: -50px;
  background-color: $grey-light;
  border-radius: 30px 30px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;

  &::after { /* crée une zone de 50px en bas pour compenser le décalage du haut*/
    content: ""; /* permet au navigateur de générer un pseudo élement puisqu'il n'y a pas de contenu coté html*/
    position: absolute; /* sinon le pseudo élément se placerait dans le flux après le décalage de son parent*/
    width: 100%; /* sur la même largeur que son parent*/
    bottom: -50px; /* décalage de 50 vers le bas*/
    height: 50px; /* Hauteur pour compenser le décalage */
    background-color: inherit; /* Utilise le même fond que l'élément parent */
}

  /************ zone titre    *********/
  .heart-zone {
    position: absolute;
    right: 40px;
    top: 30px;

    @include animation-heart-mixin;
  }
 
  /************  section menus   *********/
  .section-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;

    .souligne {
      border-bottom: 3px solid $green-light;
      padding-bottom: 4px;
    }
    h2, .frame-menu {
      width: 97%;
      max-width: 634px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
    }

    .frame-menu {
      height: 72px;
      background-color: $grey-light;
      border-radius: 20px;
      box-shadow: $shadow-medium;
      padding: 14px 0 10px 1em;
      position: relative;
      display: flex;
      flex-direction: column;

      

      /************* animation price ************/

      .menu-checkbox { /* Cache la case à cocher */
        position: absolute;
        opacity: 0;
      }

      h3, p { /* Ajout ellipsis*/
        width: 87%;
        white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
        overflow: hidden; /* Cache le contenu qui dépasse de la div */
        text-overflow: ellipsis; /* Ajoute des points de suspension si le texte dépasse */
        transition: width 0.5s;
      }

      .moving-price {
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        right: 15px;
        top: 40px;
        transition: transform 0.5s ease;
      }

      .background-animation {
        position: absolute;
        top: 0;
        right: 0; /* Commence du côté droit */
        width: 0px; /* Commence sans largeur */
        height: 100%;
        background-color: $green-light;
        border-radius: 0 20px 20px 0;
        color: $green-light; /* pour l'icone*/
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /* pour l'icone*/
        transition: width 0.5s;
      }

      .menu-checkbox:checked ~ .background-animation {
        width: 60px;
      }
      .menu-checkbox:checked ~ .moving-price {
        transform: translateX(-60px); /* Déplace le prix de la même valeur que background */
      }
      .menu-checkbox:checked ~ h3,
      .menu-checkbox:checked ~ p {

        width: calc(87% - 60px);

      }
    }
    /************* animation appearance ************/

      .appear {
        opacity: 0;
        animation: fadeInOpacity 0.5s forwards;
      }
     
      /* Applique un délai d'animation aux enfants de section-menu dans l'ordre d'apparition*/
      &:nth-child(2) .appear:nth-child(1) { animation-delay: 0s; }
      &:nth-child(2) .appear:nth-child(2) { animation-delay: 0.2s; }
      &:nth-child(2) .appear:nth-child(3) { animation-delay: 0.4s; }
      &:nth-child(2) .appear:nth-child(4) { animation-delay: 0.6s; }
     
      &:nth-child(3) .appear:nth-child(1) { animation-delay: 0.8s; }
      &:nth-child(3) .appear:nth-child(2) { animation-delay: 1s; }
      &:nth-child(3) .appear:nth-child(3) { animation-delay: 1.2s; }
      &:nth-child(3) .appear:nth-child(4) { animation-delay: 1.4s; }


      &:nth-child(4) .appear:nth-child(1) { animation-delay: 1.6s; }
      &:nth-child(4) .appear:nth-child(2) { animation-delay: 1.8s; }
      &:nth-child(4) .appear:nth-child(3) { animation-delay: 2s; }
      &:nth-child(4) .appear:nth-child(4) { animation-delay: 2.2s; }
  
  }

  @keyframes fadeInOpacity {
    from { opacity: 0; }
    to { opacity: 1; }
  }



  .button-commander {
    @include button-mixin;
    margin: 40px auto 10px auto;
    padding: 15px 60px;
 
  }
}
/**************** footer ****************/
footer {
  @include footer-mixin;

}
/**************** MEDIA QUERIES ****************/

@media (min-width: 768px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
  .menu-img {
    max-height: 383px;
  }

  .en-tete {
    display: flex;
    justify-content: center;

    h1{
      width: auto;
      margin-right: 30px;
    }
    .heart-zone {
      position: relative;
      right: auto; 
    }
  }

  footer {
    flex-direction: row-reverse;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      gap: 12px;

      li {
        &:nth-child(2) {
          margin-right: 2em; /* Espacement après le deuxième élément*/
        }

        &:nth-child(4) {
          margin-right: 3em; /* Espacement après le quatrième élément*/
        }
      }
    }
  }


}
