@charset "UTF-8";
/**************** VARIABLES ****************/
/* couleurs*/
/*ombres*/
/*font-family*/
/**************** MIXINS ****************/
/**************** SCSS ****************/
/* remise à 0 styles par défaut pour tous les éléments + border-box inclu padding et border dans la largeur/hauteur.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-width: 375px;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  font-family: "shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}

/************ header (mobile) *********/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .go-back {
  display: inline-block;
  position: absolute;
  left: 0;
}
header .go-back.home { /* ajout de la class home sur la page d'accueil uniquement, pour annuler l'affichage flèche*/
  display: none;
}
header .logo {
  width: 162px;
}

/************  hero image   *********/
.menu-img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover; /* Empêche la déformation de l'image */
}

.restaurant-choisi {
  width: 90%;
  min-width: 375px;
  max-width: 1055px;
  position: absolute;
  top: -50px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /************ zone titre    *********/
  /************  section menus   *********/
}
.restaurant-choisi::after { /* crée une zone de 50px en bas pour compenser le décalage du haut*/
  content: ""; /* permet au navigateur de générer un pseudo élement puisqu'il n'y a pas de contenu coté html*/
  position: absolute; /* sinon le pseudo élément se placerait dans le flux après le décalage de son parent*/
  width: 100%; /* sur la même largeur que son parent*/
  bottom: -50px; /* décalage de 50 vers le bas*/
  height: 50px; /* Hauteur pour compenser le décalage */
  background-color: inherit; /* Utilise le même fond que l'élément parent */
}
.restaurant-choisi .heart-zone {
  position: absolute;
  right: 40px;
  top: 30px;
}
.restaurant-choisi .heart-zone .heart-checkbox {
  display: none;
}
.restaurant-choisi .heart-zone .heart-empty, .restaurant-choisi .heart-zone .heart-full {
  position: absolute;
  right: 5px;
  transition: opacity 1s ease;
}
.restaurant-choisi .heart-zone .heart-empty {
  opacity: 1;
}
.restaurant-choisi .heart-zone .heart-full {
  opacity: 0;
}
.restaurant-choisi .heart-zone .heart-checkbox:checked ~ .heart-empty {
  opacity: 0;
}
.restaurant-choisi .heart-zone .heart-checkbox:checked ~ .heart-full {
  opacity: 1;
}
.restaurant-choisi .heart-zone .heart-checkbox:not(:checked) ~ .heart-empty {
  opacity: 1;
}
.restaurant-choisi .heart-zone .heart-checkbox:not(:checked) ~ .heart-full {
  opacity: 0;
}
.restaurant-choisi .section-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  /************* animation appearance ************/
  /* Applique un délai d'animation aux enfants de section-menu dans l'ordre d'apparition*/
}
.restaurant-choisi .section-menu .souligne {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 4px;
}
.restaurant-choisi .section-menu h2, .restaurant-choisi .section-menu .frame-menu {
  width: 97%;
  max-width: 634px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.restaurant-choisi .section-menu .frame-menu {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 14px 0 10px 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  /************* animation price ************/
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox { /* Cache la case à cocher */
  position: absolute;
  opacity: 0;
}
.restaurant-choisi .section-menu .frame-menu h3, .restaurant-choisi .section-menu .frame-menu p { /* Ajout ellipsis*/
  width: 87%;
  white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
  overflow: hidden; /* Cache le contenu qui dépasse de la div */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte dépasse */
  transition: width 0.5s;
}
.restaurant-choisi .section-menu .frame-menu .moving-price {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  top: 40px;
  transition: transform 0.5s ease;
}
.restaurant-choisi .section-menu .frame-menu .background-animation {
  position: absolute;
  top: 0;
  right: 0; /* Commence du côté droit */
  width: 0px; /* Commence sans largeur */
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  color: #99e2d0; /* pour l'icone*/
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* pour l'icone*/
  transition: width 0.5s;
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ .background-animation {
  width: 60px;
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ .moving-price {
  transform: translateX(-60px); /* Déplace le prix de la même valeur que background */
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ h3,
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ p {
  width: calc(87% - 60px);
}
.restaurant-choisi .section-menu .appear {
  opacity: 0;
  animation: fadeInOpacity 0.5s forwards;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(1) {
  animation-delay: 0s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(2) {
  animation-delay: 0.2s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(3) {
  animation-delay: 0.4s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(4) {
  animation-delay: 0.6s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(1) {
  animation-delay: 0.8s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(2) {
  animation-delay: 1s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(3) {
  animation-delay: 1.2s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(4) {
  animation-delay: 1.4s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(1) {
  animation-delay: 1.6s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(2) {
  animation-delay: 1.8s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(3) {
  animation-delay: 2s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(4) {
  animation-delay: 2.2s;
}
@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.restaurant-choisi .button-commander {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-image 1s linear, box-shadow 1s ease; /*fonctionne aller et retour*/
  margin: 40px auto 10px auto;
  padding: 15px 60px;
}
.restaurant-choisi .button-commander:hover {
  background-image: linear-gradient(to top, #af79e2, #fe9fdf);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/**************** footer ****************/
footer {
  background-color: #353535;
  padding: 30px 30px;
  display: flex;
  gap: 13px;
  flex-direction: column;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
footer ul li:nth-child(-n+2) {
  font-weight: 400;
}
footer ul li:nth-child(n+3) {
  font-weight: 300;
}
footer a, footer i {
  color: white;
}
footer i {
  font-size: 12px;
}
footer .footer-icon {
  display: inline-block;
  width: 20px;
}
footer #footer-logo {
  width: 96px;
  height: auto;
}
footer svg path {
  fill: #ffffff;
}

/**************** MEDIA QUERIES ****************/
@media (min-width: 768px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
  .menu-img {
    max-height: 383px;
  }
  .en-tete {
    display: flex;
    justify-content: center;
  }
  .en-tete h1 {
    width: auto;
    margin-right: 30px;
  }
  .en-tete .heart-zone {
    position: relative;
    right: auto;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  footer ul li:nth-child(2) {
    margin-right: 2em; /* Espacement après le deuxième élément*/
  }
  footer ul li:nth-child(4) {
    margin-right: 3em; /* Espacement après le quatrième élément*/
  }
}/*# sourceMappingURL=menu.css.map */