@charset "UTF-8";
/**************** VARIABLES ****************/
/**************** MIXINS ****************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-width: 375px;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}

a {
  color: black;
}

/************ header *********/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .go-back {
  display: inline-block;
  position: absolute;
  left: 0;
}
header .go-back.home { /* ajout de la class home sur la page d'accueil uniquement, pour annuler l'affichage flèche*/
  display: none;
}
header .logo {
  width: 162px;
}
@media (min-width: 768px) {
  header .logo {
    width: 200px;
  }
}

.banniere {
  width: 100%;
  height: 275px;
  overflow: hidden;
  display: flex;
}
.banniere img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
}

.restaurant-choisi {
  width: 90%;
  min-width: 375px;
  max-width: 1055px;
  top: -50px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /************ zone titre *********/
  /************  section menus   *********/
}
.restaurant-choisi::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -50px;
  height: 50px;
  background-color: inherit;
}
.restaurant-choisi .heart-zone {
  position: absolute;
  right: 40px;
  top: 30px;
}
.restaurant-choisi .heart-zone .heart-checkbox {
  display: none;
}
.restaurant-choisi .heart-zone .heart-empty, .restaurant-choisi .heart-zone .heart-full {
  position: absolute;
  right: 5px;
  transition: opacity 1s ease;
}
.restaurant-choisi .heart-zone .heart-empty {
  opacity: 1;
}
.restaurant-choisi .heart-zone .heart-full {
  opacity: 0;
}
.restaurant-choisi .heart-zone .heart-checkbox:checked ~ .heart-empty {
  opacity: 0;
}
.restaurant-choisi .heart-zone .heart-checkbox:checked ~ .heart-full {
  opacity: 1;
}
.restaurant-choisi .section-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  /************* animation appear ************/
  /* Applique un délai d'animation aux enfants de section-menu dans l'ordre d'apparition*/
}
.restaurant-choisi .section-menu .souligne {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 4px;
}
.restaurant-choisi .section-menu h2, .restaurant-choisi .section-menu .frame-menu {
  width: 97%;
  max-width: 634px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.restaurant-choisi .section-menu .frame-menu {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 14px 0 10px 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  /************* animation price ************/
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox {
  position: absolute;
  opacity: 0;
}
.restaurant-choisi .section-menu .frame-menu label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  padding-right: 60px;
}
.restaurant-choisi .section-menu .frame-menu label span {
  width: 100%;
  display: block;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}
.restaurant-choisi .section-menu .frame-menu label, .restaurant-choisi .section-menu .frame-menu span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.5s;
}
.restaurant-choisi .section-menu .frame-menu .moving-price {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  top: 40px;
  transition-duration: 0.2s;
}
.restaurant-choisi .section-menu .frame-menu .checkbox-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
  color: #99e2d0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.2s;
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ .checkbox-animation {
  width: 60px;
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ .moving-price {
  transform: translateX(-60px);
}
.restaurant-choisi .section-menu .frame-menu .menu-checkbox:checked ~ label {
  padding-right: 120px;
}
.restaurant-choisi .section-menu .appear {
  opacity: 0;
  animation: fadeInOpacity 1s forwards;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(1) {
  animation-delay: 0s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(2) {
  animation-delay: 0.2s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(3) {
  animation-delay: 0.4s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(4) {
  animation-delay: 0.6s;
}
.restaurant-choisi .section-menu:nth-child(2) .appear:nth-child(5) {
  animation-delay: 0.7s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(1) {
  animation-delay: 0.8s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(2) {
  animation-delay: 1s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(3) {
  animation-delay: 1.2s;
}
.restaurant-choisi .section-menu:nth-child(3) .appear:nth-child(4) {
  animation-delay: 1.4s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(1) {
  animation-delay: 1.6s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(2) {
  animation-delay: 1.8s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(3) {
  animation-delay: 2s;
}
.restaurant-choisi .section-menu:nth-child(4) .appear:nth-child(4) {
  animation-delay: 2.2s;
}
@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.restaurant-choisi .button-commander {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-image 1s linear, box-shadow 1s linear;
  margin: 40px auto 10px auto;
  padding: 15px 60px;
}
.restaurant-choisi .button-commander:hover {
  background-image: linear-gradient(to top, #af79e2, #fe9fdf);
  transition: background-image 1s linear, box-shadow 1s linear;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/**************** footer ****************/
footer {
  background-color: #353535;
  padding: 30px 25px;
  display: flex;
  gap: 13px;
  flex-direction: column;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}
footer ul li:nth-child(-n+2) {
  font-weight: 400;
}
footer ul li:nth-child(n+3) {
  font-weight: 300;
}
footer ul li a {
  color: white;
}
footer ul .footer-icon {
  display: inline-block;
  width: 20px;
}
footer ul .footer-icon i {
  font-size: 12px;
  color: white;
}
footer .footer-logo {
  filter: invert(100%);
  width: 95px;
}

/**************** MEDIA QUERIES ****************/
@media (min-width: 768px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .banniere {
    height: 383px;
  }
  .en-tete {
    display: flex;
    justify-content: center;
  }
  .en-tete h1 {
    width: auto;
    margin-right: 30px;
  }
  .en-tete .heart-zone {
    position: relative;
    right: auto;
  }
  footer {
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer ul li {
    font-size: 15px;
  }
  footer ul li:nth-child(2) {
    margin-right: 1.5em;
  }
  footer ul li:nth-child(4) {
    margin-right: 1.5em;
  }
  /* Animations avec :hover */
  .frame-menu .menu-checkbox:hover ~ .checkbox-animation {
    width: 60px;
  }
  .frame-menu .menu-checkbox:hover ~ .moving-price {
    transform: translateX(-60px);
  }
  .frame-menu .menu-checkbox:hover ~ label {
    padding-right: 120px;
  }
  .frame-menu .menu-checkbox:not(:hover) ~ .checkbox-animation,
  .frame-menu .menu-checkbox:not(:hover) ~ .moving-price {
    transition-duration: 1s;
  }
}/*# sourceMappingURL=restaurants.css.map */