/**************** VARIABLES ****************/

/* couleurs*/
$purple: #9356dc;
$pink: #ff79da;
$green-dark: #008766;
$green-light: #99e2d0;
$grey-light: #f6f6f6;
$grey-searchbar: #eaeaea;
$grey-medium: #7e7e7e;
$grey-dark: #353535;
$grey: #eaeaea;

/*ombres*/
$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-medium: 0px 4px 15px rgba(0, 0, 0, 0.2);
$shadow-strong: 0 4px 8px rgba(0, 0, 0, 0.3);

/*font-family*/
$font-1: "Roboto", sans-serif;
$font-2: "shrikhand", cursive;

/**************** MIXINS ****************/

@mixin header-mixin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: $shadow-light;

  .go-back {
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .go-back.home {
    /* ajout de la class home sur la page d'accueil uniquement, pour annuler l'affichage*/
    display: none;
  }
  .logo {
    width: 162px;
  }
}

@mixin footer-mixin {
  background-color: $grey-dark;
  padding: 32px;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
      font-size: 14px;

      &:nth-child(-n + 2) {
        font-weight: 500;
      }
      &:nth-child(n + 3) {
        font-weight: 300;
      }
    }
  }
  a,
  i,
  .footer-logo {
    color: white;
  }

  .footer-logo {
    font: italic 400 16px $font-2;
  }
  .footer-icon {
    display: inline-block;
    width: 30px;
    text-align: left;
  }
}

@mixin button-mixin {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: $shadow-light;
  transition: background-image 0.9s linear, box-shadow 0.5s ease; /*fonctionne aller et retour*/
  &:hover {
    background-image: linear-gradient(to top, #af79e2, #fe9fdf);
    box-shadow: $shadow-strong;
  }
}

@mixin new-badge-mixin {
  display: none;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  text-align: center;
  padding-top: 6px;
  border-radius: 2px;
  background-color: $green-light;
  color: $green-dark;
  position: absolute;
  top: 12px;
  right: 12px;
}

/**************** SCSS ****************/

/* remise à 0 styles par défaut pour tous les éléments + border-box inclu padding et border dans la largeur/hauteur.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-width: 375px;
  font-family: $font-1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: $grey-dark;
}

/************ header (mobile) *********/

header {
  @include header-mixin;
}

/************ section recherches ***********/

.search-section {
  width: 100%;
  text-align: center;
  background: #f6f6f6;

  .location {
    padding: 15px 0;
    background: $grey-searchbar;
    box-shadow: $shadow-strong;
    i {
      color: $grey-dark;
    }
    input {
      width: 130px;
      border: none;
      background-color: inherit;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    ::placeholder {
      /* annule style par défaut sur firefox et chrome*/
      opacity: 1;
      color: black;
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 50px 30px;
    gap: 15px;
    h1 {
      margin: 0 20px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      color: $grey-medium;
      margin-bottom: 15px;
    }
    .button {
      @include button-mixin;
    }
  }
}
/************ section fonctionnement  ********/

.section-fonctionnement {
  width: 100%;
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 500;
  gap: 30px;

  .zone-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    .frame {
      width: 97%;
      max-width: 322px;
      background-color: $grey-light;
      border-radius: 20px;
      box-shadow: $shadow-medium;
      padding: 26px 0 26px 1.8em;
      margin-left: 10px;
      position: relative;
      display: flex;
      gap: 1em;

      .frame-number {
        background-color: $purple;
        color: white;
        font-size: 16px;
        border-radius: 50%;
        padding: 8px;
        height: 24px;
        display: flex;
        align-items: center;
        position: absolute;
        left: -12px;
        top: 50%;
        transform: translate(0, -50%);
      }
      .i-grey {
        color: $grey-medium;
      }
      .i-purple {
        color: $purple;
      }
    }
  }
}

/************ section restaurants *********/

.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $grey-light;
  padding: 50px 20px 50px 20px;
  align-items: flex-start;

  .zone-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .restaurant-card {
      position: relative;
      width: 340px;
      height: 251px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;

      .restaurant-image {
        position: relative;
        img {
          width: 100%;
          height: 175px;
          object-fit: cover; /* Empêche la déformation de l'image */
          display: block;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .new-badge {
        @include new-badge-mixin;
      }
      .restaurant-info {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;
        p {
          font-size: 17px;
          font-weight: 300;
          color: black;
        }
      }
      .heart-checkbox {
        display: none;
      }
      .heart {
        position: absolute;
        right: 15px;
        top: 200px;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-image: url("../../images/Icons/Heart-empty.png");
        background-repeat: no-repeat;
      }
      .heart-checkbox:checked + .heart {
        background-image: url("../../images/Icons/Heart-full.png");
        background-repeat: no-repeat;
      }
    }
    .new {
      .new-badge {
        display: block;
      }
    }
  }
}

/************ footer  ********/
footer {
  @include footer-mixin;
}

/**************** MEDIA QUERIES ****************/

@media (min-width: 768px) {
  .section-fonctionnement {
    .zone-frame {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5em;
    }
  }
  .restaurants {
    .zone-card {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 2em;
      column-gap: 50px;

      .restaurant-card {
        width: 46%;
        height: 251px;
        max-width: 490px;
      }
    }
  }
  footer {
    flex-direction: row-reverse;

    ul {
      display: flex;
      flex-direction: row;
      gap: 12px;

      li {
        &:nth-child(2) {
          margin-right: 2em; /* Espacement après le deuxième élément*/
        }

        &:nth-child(4) {
          margin-right: 3em; /* Espacement après le quatrième élément*/
        }
      }
    }
  }
} /*fin média query*/
