@charset "UTF-8";
/**************** VARIABLES ****************/
/* couleurs*/
/*ombres*/
/*font-family*/
/**************** MIXINS ****************/
/**************** SCSS ****************/
/* border-box pour tous les éléments, inclu padding et border dans la largeur/hauteur.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

button {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-image: linear-gradient(to top, #af79e2, #fe9fdf);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/************ header (mobile) *********/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.go-back {
  display: inline-block;
  position: absolute;
  left: 0;
}

.go-back.home {
  display: none;
}

.logo {
  width: 162px;
}

/************ section recherches ***********/
.search-section {
  text-align: center;
  background: #f6f6f6;
}
.search-section .location {
  padding: 15px 0;
  background: #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: center;
}
.search-section .location i {
  color: #353535;
  margin-right: 0px;
}
.search-section .location ::-moz-placeholder {
  width: 130px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  color: black;
  text-align: center;
}
.search-section .location input,
.search-section .location ::placeholder {
  width: 130px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  color: black;
  text-align: center;
}
.search-section .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 50px 30px;
  gap: 15px;
}
.search-section .hero h1 {
  margin: 0 20px;
}
.search-section .hero p {
  font-size: 18px;
  font-weight: 300;
  color: #7e7e7e;
}

/************ section fonctionnement  ********/
.section-fonctionnement {
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 500;
  gap: 30px;
}

.frame {
  width: 97%;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 0 30px 30px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.frame p {
  flex: 1;
  text-align: left;
  margin: 0 1em;
}
.frame .frame-number {
  background-color: #9356dc;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  padding: 8px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translate(0, -50%);
}
.frame .i-grey {
  color: #7e7e7e;
}
.frame .i-purple {
  color: #9356dc;
}

/************ section restaurants *********/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f6f6f6;
  padding: 50px 20px 50px 20px;
}
.restaurants a {
  text-decoration: none;
}
.restaurants .restaurant-card {
  height: 251px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurant-card .restaurant-image {
  position: relative;
}
.restaurants .restaurant-card .restaurant-image img {
  width: 100%;
  height: 175px;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurants .restaurant-card .new-badge {
  display: none;
  background-color: #99e2d0;
  color: #008766;
  padding: 4px 8px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
}
.restaurants .restaurant-card .restaurant-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurant-card .restaurant-info .info-content h2 {
  margin: 0;
  color: #353535;
}
.restaurants .restaurant-card .restaurant-info .info-content p {
  color: black;
}
.restaurants .restaurant-card .restaurant-info .heart-zone {
  position: relative;
  font-size: 24px;
  cursor: crosshair;
}
.restaurants .restaurant-card .restaurant-info .heart-zone .heart-checkbox {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: none;
}
.restaurants .restaurant-card .restaurant-info .heart-zone .heart {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/Icons/Heart-empty.png");
  background-repeat: no-repeat;
}
.restaurants .restaurant-card .restaurant-info .heart-zone .heart-checkbox:checked + .heart {
  background-image: url("../../images/Icons/Heart-full.png");
  background-repeat: no-repeat;
}

.new .new-badge {
  display: block;
}

/************ footer  ********/
.footer {
  background-color: #353535;
  padding: 32px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer i {
  color: white;
}
.footer .footer-logo {
  font: italic 400 18px "shrikhand", cursive;
  color: white;
}
.footer .footer-icon {
  display: inline-block;
  width: 30px;
  text-align: left;
}
.footer .footer-text1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer .footer-text2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}/*# sourceMappingURL=home.css.map */