/**************** VARIABLES ****************/

/* couleurs*/
$purple: #9356dc;
$pink: #ff79da;
$green-dark: #008766;
$green-light: #99e2d0;
$grey-light: #f6f6f6;
$grey-searchbar: #eaeaea;
$grey-medium: #7e7e7e;
$grey-dark: #353535;
$grey: #eaeaea;

/*ombres*/
$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-medium: 0px 4px 15px rgba(0, 0, 0, 0.2);
$shadow-strong: 0 4px 8px rgba(0, 0, 0, 0.3);

/*font-family*/
$font-1: "Roboto", sans-serif;
$font-2: "shrikhand", cursive;

/**************** MIXINS ****************/

@mixin button-style {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  cursor: pointer;
  box-shadow: $shadow-light;
  &:hover {
    background-image: linear-gradient(to top, #af79e2, #fe9fdf);
    box-shadow: $shadow-strong;
  }
}

@mixin footer-style {
  background-color: $grey-dark;
  padding: 32px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  i {
    color: white;
  }
  .footer-logo {
    font: italic 400 18px $font-2;
    color: white;
  }
  .footer-icon {
    display: inline-block;
    width: 30px;
    text-align: left;
  }
  .footer-text1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .footer-text2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

/**************** SCSS ****************/

/* border-box pour tous les éléments, inclu padding et border dans la largeur/hauteur.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
  font-family: $font-1;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
button {
  @include button-style;
}

/************ header (mobile) *********/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: $shadow-light;
}
.go-back {
  display: inline-block;
  position: absolute;
  left: 0;
}
.go-back.home {
  display: none;
}
.logo {
  width: 162px;
}

/************ section recherches ***********/

.search-section {
  text-align: center;
  background: #f6f6f6;

  .location {
    padding: 15px 0;
    background: $grey-searchbar;
    box-shadow: $shadow-strong;
    justify-content: center;
    i {
      color: $grey-dark;
      margin-right: 0px;
    }
    input {
      width: 130px;
      border: none;
      background-color: inherit;
      font-size: 16px;
      font-weight: 500;
      color: black;
      text-align: center;
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 50px 30px;
    gap: 15px;
    h1 {
      margin: 0 20px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      color: $grey-medium;
    }
  }
}
/************ section fonctionnement  ********/

.section-fonctionnement {
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 500;
  gap: 30px;
}
.frame {
  width: 97%;
  background-color: $grey-light;
  border-radius: 25px;
  box-shadow: $shadow-medium;
  padding: 30px 0 30px 30px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  p {
    flex: 1;
    text-align: left;
    margin: 0 1em;
  }
  .frame-number {
    background-color: $purple;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    padding: 8px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .i-grey {
    color: $grey-medium;
  }
  .i-purple {
    color: $purple;
  }
  
}
/************ section restaurants *********/

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $grey-light;
  padding: 50px 20px 50px 20px;

  a {
    text-decoration: none;
  }
  .restaurant-card {
    height: 251px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    .restaurant-image {
      position: relative;
      img {
        width: 100%;
        height: 175px;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .new-badge {
      display: none;
      background-color: $green-light;
      color: $green-dark;
      padding: 4px 8px;
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 10;
    }

    .restaurant-info {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info-content {
        h2 {
          margin: 0;
          color: $grey-dark;
        }
        p{
          color: black;
        }
      }
      .heart-zone {
        position: relative;
        font-size: 24px;
        cursor: pointer;

        .heart-empty,
        .heart-full {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          transition: opacity 0.3s ease;
        }
        .heart-full {
          opacity: 0;
        }
        &:hover {
          .heart-full {
            opacity: 1;
          }
          .heart-empty {
            opacity: 0;
          }
        }
      }
    }
  }
  .new {
    .new-badge {
      display: block;
    }
  }
}
/************ footer  ********/

.footer {
  @include footer-style;
}
